<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" ><img src="../assets/images/logo 5.png" height="40px" width="100px"></a>
  
</nav>

<form action="action_page.php">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>

    <button type="button" (click)="login()">Login</button>
  </div>
</form>